[package]
name = "xenstore-rs"
version = "0.3.3"
authors = ["Mathieu Tarral <mathieu.tarral@protonmail.com>"]
edition = "2018"
description = "Rust FFI bindings for libxenstore"
readme = "README.md"
homepage = "https://github.com/Wenzel/xenstore"
repository = "https://github.com/Wenzel/xenstore"
license = "GPL-3.0-only"
keywords = ["xen", "xenstore"]
categories = ["api-bindings"]

[dependencies]
libloading = "0.8.0"
log = "0.4.20"
enum-primitive-derive = "0.2.2"
num-traits = "0.2.16"
xenstore-sys = "0.1.2"
libc = "0.2.148"

[dev-dependencies]
clap = { version = "4.1.4", features = ["derive"] }
